@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:wght@400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&family=Poppins:wght@400;500;600;700;800&display=swap');

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-anton{
    font-family: "Anton", sans-serif;
}
body{
    background-color: #010313;
}
.btn-gradient {
    background: linear-gradient(to right, #CD40F5, #5856FD); /* Change these colors as needed */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    transition: background 0.3s ease;
}

/* .btn:hover {
    background: linear-gradient(to right, #feb47b, #ff7e5f);
} */
.bcb-logo{
    width: 6rem;
    height: 4rem;
    border: 2px solid #CD40F5;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 1px white;
    margin-left: 50px;
}
.bcb-details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.bcb-details h2{
    font-size: 15px;
    font-weight: bold;
}
.menu>li>a:hover{
    text-decoration:overline;
    transition-duration: 0.3s;
    color: #CD40F5;
}

.player-list h2{
    color: #D9ABFF;
    font-size: 3em;
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
}
.player-list h3{
    color: #D9ABFF;
    font-size: 2em;
    font-weight: bold;
    margin-top: 2rem;
}
.player-list-description{
    color: #D9ABFF;
    text-align: center;
    text-align: justify;
    margin-top: 1rem;
}

.cart-details{
    /* border: 2px solid red; */
    width: 80%;
    padding: 10px;
    border: 2px solid #CD40F5;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px white;
    color: #D9ABFF;
    text-align: center;
}
.count-container{
    box-shadow: 0px 0px 5px 1px white;
    padding: 30px;
    border: 2px solid #CD40F5;
}
/* .selected-players{
    display: flex;
    justify-content:space-around;
    padding: 10px;
} */